<div class="workspace-header">
	<h1>Blog Post</h1>
</div>
<div class="workspace">

<div class="col-a">
	
	<div class="element element-input">
		<label for="title">Title</label>
		<input type="text" name="title">
	</div>

	
	<div class="element element-editor">
		<label for="element_editor">Content</label>
		<div class="element-editor-box">
			<textarea name="elementEditor"></textarea>
		</div>
	</div>
	
</div>
	
</div>
