<div class="workspace-header">
	<h1>Construction</h1>
</div>

<div class="workspace">

<div class="col-b">
	
	<div class="element">
		<h3>.element-input</h3>
		<p>A basic text input field.</p>
	</div>
	
</div>

<div class="col-b">

	<div class="element element-input">
		<label for="element_input">.element-input</label>
		<input type="text" name="element_input">
		<span class="element-help">This is a short help drescription...</span>
	</div>
	
</div>

<div class="col-b">
	
	<div class="element">
		<h3>.element-text</h3>
		<p>A basic textarea field.</p>
	</div>
	
</div>

<div class="col-b">
	
	<div class="element element-text">
		<label for="element_text">.element-text</label>
		<textarea name="element_text"></textarea>
	</div>

</div>

<div class="col-b">


<div class="element">
	<h3>.element-file</h3>
	<p>A single file upload box</p>
</div>

</div>

<div class="col-b">
	
	<div class="element element-file">
		<label for="element_file">.element-file</label>
		<div class="element-file-input">
			<input type="file" name="element_file">
		</div>
	</div>

</div>

<div class="col-b">

<div class="element">
	<h3>.element</h3>
	<p>Multi file upload</p>
</div>

</div>

<div class="col-b">
	
	<div class="element element-files">
		<label for="element_files">.element-files</label>
		<div class="element-file-input">
			<input type="file" name="element_files[]">
		</div>
		<div class="element-files-expand">
			<span class="element-bit-button small">Add another file</span>
		</div>
	</div>
	
</div>

<div class="col-b">

<div class="element">
	<h3>.element-select</h3>
	<p>Standard dropdown list selector.</p>
</div>

</div>

<div class="col-b">

	<div class="element element-select">
		<label for="status">.element-select</label>
		<select name="status">
			<option value="Draft" >Draft</option>
			<option value="Published" >Published</option>
		</select>
	</div>

</div>

<div class="col-b">	

<div class="element">
	<h3>.element-datetime</h3>
	<p>Masked text entry for a datetime value.</p>
</div>

</div>

<div class="col-b">	
	
	<div class="element element-datetime">
		<label for="publishedAt">element-datetime</label>
		<input type="text" name="publishedAt" value="2010-06-01 00:00:00">
	</div>
	
</div>

</div>

<div class="workspace">

<div class="col-b">

<div class="element">
	<h3>.element-editor-basic</h3>
	<p>Simple rich text editor.</p>
</div>

</div>

<div class="col-b">
	
	<div class="element element-editor-basic">
		<label for="element_editor_basic">.element-editor-basic</label>
		<div class="element-editor-box">
			<textarea name="elementEditorBasic"></textarea>
		</div>
	</div>
	
</div>	

</div>

<div class="workspace">

<div class="col-a">
	
	<div class="element element-editor">
		<label for="element_editor">element-editor</label>
		<div class="element-editor-box">
			<textarea name="elementEditor"></textarea>
		</div>
		<p>Default rich text editor.</p>
	</div>
	
</div>
	
</div>