<div class="workspace-header">
	<h1>Elements</h1>
</div>
<div class="workspace">
	<div class="col-b">
		<div class="element">
			<h3>element-input</h3>
			<p>A basic text input field.</p>
		</div>
	</div>
	<div class="col-b">
		<div class="element element-input">
			<label for="element_input">element-input</label>
			<input type="text" name="element_input">
			<span class="element-help">This is a short help drescription...</span>
		</div>
	</div>
</div>

<div class="workspace">
	<div class="col-b">
		<div class="element">
			<h3>.element-text</h3>
			<p>A basic textarea field.</p>
		</div>
	</div>

	<div class="col-b">

		<div class="element element-text">
			<label for="element_text">.element-text</label>
			<textarea name="element_text"></textarea>
		</div>
	</div>
</div>