<div class="workspace-header">
	<h1>Picture</h1>
</div>

<!--<div class="workspace">
	
	<div class="col-b">
		
		<h3>Favorite Pictures</h3>
		
		<ul class="sortable-list">
			<li id="picture-1"><a href="#remove" class="remove">x</a> <a href="#picture-1">Picture 1</a></li>
			<li id="picture-2"><a href="#remove" class="remove">x</a> <a href="#picture-2">Picture 2</a></li>
			<li id="picture-3"><a href="#remove" class="remove">x</a> <a href="#picture-3">Picture 3</a></li>
		</ul>
		
	</div>
	
	<div class="col-b">
		
		<h3>Recent Activity</h3>
		
		<ul class="sortable-list">
			<li id="picture-1"><a href="#remove" class="remove">x</a> <a href="#picture-1">Picture 1</a></li>
			<li id="picture-2"><a href="#remove" class="remove">x</a> <a href="#picture-2">Picture 2</a></li>
			<li id="picture-3"><a href="#remove" class="remove">x</a> <a href="#picture-3">Picture 3</a></li>
		</ul>
		
	</div>
	
</div>-->

<div class="workspace">
	
	<div class="col-b">
		
		<div class="element">
			<img src="http://maetl.net/img/metamorphosis.jpg">
		</div>
		
		<div class="element">
			<p>Available in the following sizes:</p>
			
			<table>
				<tr>
					<td><a href="#thumb">Thumb</a></td>
					<td><a href="#original">Original</td>
					<td><a href="#large">Medium</td>
					<td><a href="#small">Small</td>
				</tr>
				<tr>
					<td>120 x 90</td>
					<td>920 x 590</td>
					<td>360 x 240</td>
					<td>240 x 180</td>
				</tr>
			</table>
			
		</div>
		
	</div>
	
	<div class="col-b">
		
		<div class="element-form">
			<form>
				<div class="element element-input">
					<label for="name">Name</label>
					<input type="text" name="name">
				</div>
			
				<div class="element element-text">
					<label for="caption">Caption</label>
					<textarea name="caption"></textarea>
				</div>
								
				<div class="element element-file">
					<label for="element_file">Replace File</label>
					<div class="element-file-input">
						<input type="file" name="element_file">
					</div>
				</div>			
			</form>
		</div>
		
		
	</div>
	
</div>