/**
tppm > ..> ... .>. ... .> ...>..> .

@asset css:swatch:magnetto
>.. ... >.. ... ... >.. ... .. .>.
*/
a {
    color:#791718;
}
body {
color:#423E3E;
background-color:#FFBFBF;
}

.header {
width:100%;
background-color:#791718;
border-bottom:6px solid #FE3942;
float:left;
}

.header h1 {
float:left;
font-family:"Mido","Century Schoolbook",Georgia,serif;
font-size:36px;
font-weight:normal; 
color:#FE3942;
margin:6px 0 0 52px;
text-shadow:#6c1415 1px 1px 0;
}

.header .nav {
font-family:"Mido","Century Schoolbook",Georgia,serif;
margin:0 0 0 220px;
list-style-type:none;
width:640px;
float:left;
}

.header li {
float:left;
}

.header li a {
display:block;
background-color:#791718;
color:#FE3942;
padding:18px 18px 12px 18px;
text-decoration:none;
font-size:18px;
text-shadow:#6c1415 1px 1px 0;
}

.header li a:hover {
background-color:#FE3942;
color:#791718;
text-shadow:#eb333b 1px 1px 0;
}

.workspace-header {
width:100%;
float:left;
background-color:#ee888b;
border-bottom:2px solid #bb7575;
}

.workspace-header h1 {
color:#633139;
font-family:"Mido","Century Schoolbook",Georgia,serif;
font-weight:normal;
font-size:44px;
letter-spacing:-1px;
margin:9px 48px;
}