/**
Magnetto - default brite minimalist
*/

$link-color: #791718;
$hi-color: #FE3942;
$text-color: #423E3E;
$body-color: #FFBFBF;
$leader-font: "Mido","Century Schoolbook",Georgia,serif;
$leader-font-transform:none;
$leader-font-title-size: 36px;
$leader-font-nav-size: 18px;
$leader-font-h-size: 44px;
$leader-font-h-weight: normal;
$leader-font-weight: normal;
$leader-font-color: #FE3942;
$leader-font-shadow: #6c1415 1px 1px 0;
$header-bg-color: #791718;
$header-border-color: #FE3942;
$workspace-header-bg-color:#ee888b;
$workspace-header-border-color:#bb7575;