/**
Neu Grotesk - International style für alles
*/

$link-color: #791718;
$hi-color: #FE3942;
$text-color: #423E3E;
$body-color: #FFBFBF;
$leader-font: "Akzidenz Grotesk Medium","Helvetica Neue", "Helvetica",Arial,sans-serif;
$leader-font-transform: lowercase;
$leader-font-title-size: 36px;
$leader-font-nav-size: 18px;
$leader-font-h-size: 56px;
$leader-font-weight: bold;
$leader-font-h-weight: bold;
$leader-font-color: #FE3942;
$leader-font-shadow: #6c1415 1px 1px 0;
$header-bg-color: #791718;
$header-border-color: #FE3942;
$workspace-header-bg-color:#ee888b;
$workspace-header-border-color:#bb7575;