/**
tppm > ..> ... .>. ... .> ...>..> .

@asset css:header
>.. ... >.. ... ... >.. ... .. .>.
*/

.element-panel {
    height:520px;
    margin-bottom:70px;
    padding:10px;
}

.contrast {
    background-color:#ce9795;    
    border-top:4px solid #9f7373;
    border-bottom:4px solid #9f7373;    
}

.element table {
    width:90%;
}

.element.checkbox table input {
    width:21px;
    height:21px;
    text-align:right;
}

.element.checkbox table td {
    padding-bottom:6px;
}

.element-action {
    background-color:#ce9795;
}

.workspace h1 {
    padding-top:8px;
	font-size:26px;
	font-family:"Mido","Century Schoolbook",Georgia,serif;	
	font-weight:normal;
	height:24px;
	color:#FE3942;	
}

.workspace {
	font-family:Georgia,serif;;	    
	margin:28px 48px 0 48px;
}

.toolbar {
    width:100%;
    background-color:#fe636a;
    height:38px;
}

.toolbar ul {
    list-style-type:none;
}

.toolbar li {
    font-size:18px;
}

.toolbar li a {
    float:left;
    display:block;
    width:120px;
    padding:9px 6px 6px 6px;
    background-color:#FE3942;
}

.toolbar li a:hover {
    background-color:#FF5888;
}

.footer {
    background-color:#FE3942;
	float:left;
	margin-top:30px;
	width:100%;
	color:#666;
	font-size:12px;
}

.footer p {
	margin:12px;
}

.element-action {
    margin-top:21px;
}

.element, .button {
    width:98%;
    float:left;
    margin-right:21px;
	margin-bottom:21px;
}

.button input {
    font-size:21px;
	font-family:Georgia,serif;    
}


.element-select select {
    font-size:18px;
    padding:6px;
    width:32%;
}

.element.content textarea {
	font-size:14px;
	font-family:"Lucida Console",Courier,Georgia,serif;
	width:100%;
	height:400px;
	padding:6px;
	color:#000;
}


table td a {

}

table td a:hover {

}

.col-b table {
    width:100%;
    border-spacing:0;
}

table td {
    padding:3px 0 2px 4px;
    border-bottom:2px solid #fe636a;
}

.col-b table .article-date {
    width:56px;
}

.col-b table a {
    text-decoration:none;
}

/** OLD CRAP IS ABOVE **/

/** WATCH OUT FOR RAPTORS **/

/** NEW STYLES HERE FREESTYLE */
