/**
Main layout and grid system
*/

/**
 * Header and navigation bars
 */
 
.header {
    width:100%;
    float:left;
    
    .nav {
        margin:0 0 0 220px;
        list-style-type:none;
        width:640px;        
    }
    
    li {
        float:left;
    }
}

.workspace-header {
    width:100%;
    float:left;
}

/**
 * Workspace column boxes
 */

.workspace .col-a {
	float:left;
	width:70%;
	padding-bottom:2px;
	margin-bottom:20px;
}

.workspace .col-b {
	float:left;
	width:40%;
	margin-right:3%;
}

.workspace .col-c {
	float:left;
	width:20%;
	margin-left:3%;
}

.workspace .col-d {
	float:left;	
	width:60%;
}

.workspace .col-a .col-a,
.workspace .col-a .col-c {
    margin-bottom:0;
}

/**
 * Tab panels
 */
 .tab-panel {
     width:100%;
     display:none;
 }

 .tab-panel#tab-a {
     display:block;
 }

 .element-panel {
     border-bottom:6px solid #e7c6c4;
     background-color:#f5e6e6;
 }