.element-bit-button {
    background-color:#FE3942;      
    color:#efefef;
    padding:6px;
}

.element-bit-button:hover {
    cursor:pointer;
}

.element-bit-button.small {
    font-size:13px;
    padding:4px;
}